<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- preloaded D2L template to be changed -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://app.csps-efpc.gc.ca/shared/LCS_HTML_Templates/CSPS_Template_2021/_assets/thirdpartylib/bootstrap-4.3.1/css/bootstrap.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet"
        href="https://app.csps-efpc.gc.ca/shared/LCS_HTML_Templates/CSPS_Template_2021/_assets/css/styles.min.css">
    <link rel="stylesheet"
        href="https://app.csps-efpc.gc.ca/shared/LCS_HTML_Templates/CSPS_Template_2021/_assets/thirdpartylib/bootstrap-4.3.1/css/bootstrap.min.css"
        id="D2L_style_bootstrap">

    <!-- inject:css -->
    <link rel="stylesheet" href="assets/fontawesome-free-5.9.0-web/css/all.min.css">
    <link rel="stylesheet" href="assets/css/csps-app.css">
    <!-- endinject -->

    <title>Réflexion</title>
</head>

<body>
    <div class="container-fluid data">
        <div class="row">
            <div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
                <!-- Templates -->
                <template id="petite_checklist" class="petite-checklist-template">
                    <fieldset class="petite-field">
                        <legend class="petite-legend"
                            :class="isRequired === true && 'required'">
                            <strong>Question {{uniqueId}}</strong> - {{question}}
                            <span v-if="isRequired === true" class="wb-inv">
                                <span v-if="lang==='fr'">Cette
                                    question est nécessaire.</span>
                                <span v-else-if="lang==='en'">This question is
                                    required.</span>
                            </span>
                        </legend>
                    </fieldset>
                    <p class="petite-content">
                        <input type="radio" :name=`question_${uniqueId}`
                            :id=`question_${uniqueId}${randNum+1}` class="option">
                        <label :for=`question_${uniqueId}${randNum+1}`>1 - <span
                                v-if="lang==='fr'">Pas du
                                tout d’accord</span><span v-else-if="lang==='en'">Strongly
                                disagree</span></label>
                    </p>
                    <p class="petite-content">
                        <input type="radio" :name=`question_${uniqueId}`
                            :id=`question_${uniqueId}${randNum+2}` class="option">
                        <label :for=`question_${uniqueId}${randNum+2}`>2 - <span
                                v-if="lang==='fr'">Pas
                                d’accord</span><span
                                v-else-if="lang==='en'">Disagree</span></label>
                    </p>
                    <p class="petite-content">
                        <input type="radio" :name=`question_${uniqueId}`
                            :id=`question_${uniqueId}${randNum+3}` class="option">
                        <label :for=`question_${uniqueId}${randNum+3}`>3 - <span
                                v-if="lang==='fr'">Pas
                                d’opinion</span><span v-else-if="lang==='en'">Neither
                                agree or
                                disagree</span></label>
                    </p>
                    <p class="petite-content">
                        <input type="radio" :name=`question_${uniqueId}`
                            :id=`question_${uniqueId}${randNum+4}` class="option">
                        <label :for=`question_${uniqueId}${randNum+4}`>4 -
                            <span v-if="lang==='fr'"> D’accord</span><span
                                v-else-if="lang==='en'">Agree</span></label>
                    </p>
                    <p class="petite-content">
                        <input type="radio" :name=`question_${uniqueId}`
                            :id=`question_${uniqueId}${randNum+5}` class="option">
                        <label :for=`question_${uniqueId}${randNum+5}`>5 - <span
                                v-if="lang==='fr'">Tout à
                                fait d’accord</span><span v-else-if="lang==='en'">Strongly
                                agree</span></label>
                    </p>
                    <p class="petite-content">
                        <input type="radio" :name=`question_${uniqueId}`
                            :id=`question_${uniqueId}${randNum+6}` class="option">
                        <label :for=`question_${uniqueId}${randNum+6}`><span
                                v-if="lang === 'fr'">Je ne sais
                                pas</span><span
                                v-else-if="lang === 'en'">Unsure</span></label>
                    </p>
                    <hr>
                </template>

                <template id="petite_ta" class="petite-textArea-template">

                    <form method="post" class="thoughts-form">
                        <label :for="uniqueId !== ''&& `textAreaId_${uniqueId}` "
                            class="thought-label"
                            :class="isRequired === true && 'required'">
                            <strong>Question {{uniqueId}}</strong> - {{question}}
                            <span v-if="isRequired === true" class="wb-inv">
                                <span v-if="lang==='fr'">Cette
                                    question est nécessaire pour
                                    soumettre le formulaire.</span>
                                <span v-else-if="lang==='en'">This question is
                                    required to submit the form.</span>
                            </span></label>
                        <textarea name="thoughts"
                            :id="`textAreaId_${uniqueId}` !== ''&& `textAreaId_${uniqueId}` "
                            class="thought-text" v-model="personalThought"></textarea>
                        <button :id="uniqueId !== ''&& `btnId_${uniqueId}`"
                            class="btn btn-primary thought-submit"
                            @click.prevent="submitForm"><span
                                v-if="lang==='fr'">Soumettre</span><span
                                v-else-if="lang==='en'">Submit</span></button>

                        <div class="saved-resp" aria-live="polite">
                            <p v-if="isValid === true && isRequired === true"
                                class="feedback feedback-positive"
                                :aria-labelledby="uniqueId !== ''&& `textAreaId_${uniqueId}` ">
                                <span v-if="lang==='fr'">
                                    Votre réponse est :</span><span
                                    v-else-if="lang==='en'">Your response is:</span>
                                {{personalThought}}</p>
                            <p v-else-if="isValid === false"
                                class="feedback feedback-negative"
                                :aria-labelledby="uniqueId !== ''&& `textAreaId_${uniqueId}` ">
                                <span v-if="lang==='fr'">
                                    Veuillez compléter la zone de texte
                                    requise.</span><span v-else-if="lang==='en'">Please
                                    fill in the
                                    required text box.</span>
                            </p>
                        </div>
                    </form>
                </template>
                <!-- Ajouter du contenu ici -->
                <main class="m1-8">
                    <h1>Réflexion</h1>
                    <div class="chat-container right grey">
                        <div class="persona megan"></div>
                        <p class="chat-bubble">Prenez un moment pour réfléchir à ce que
                            vous avez appris en répondant aux questions ci-dessous.</p>
                    </div>
                    <div class="jumbotron">
                        <h2>Remarque :</h2>
                        <p>Toutes les réponses sont anonymes.</p>
                    </div>
                    <div class="card card-standard card-reveal">
                        <div class="card-body">
                            <p class="icon icon-click">Réfléchissez à ce que vous avez
                                appris et
                                évaluez les énoncés ci-dessous à l’aide de l’échelle
                                fournie, dans
                                laquelle 1 signifie « Pas du tout » et 5, « Tout à fait ».
                            </p>
                            <div class="checkbox-component"
                                v-scope="addCheckBox({question: `Je peux expliquer certaines notions liées à l’inclusion après avoir parcouru tout le contenu de ce module.` ,uniqueId: 1, isRequired: true})">
                            </div>
                            <div class="checkbox-component"
                                v-scope="addCheckBox({question: `Je comprends que d’autres dimensions de l’identité (capacités, race, santé mentale, statut socioéconomique, etc.) peuvent aussi avoir une influence sur l’exclusion ou l’inclusion vécue par les membres de communautés 2ELGBTQI+. ` ,uniqueId: 2, isRequired: true})">
                            </div>
                            <div class="checkbox-component"
                                v-scope="addCheckBox({question: `D’après la définition des termes « allié, alliée » dans le contexte des communautés 2ELGBTQI+, je pense avoir suffisamment d’outils pour défendre activement les membres de communautés 2ELGBTQI+.` ,uniqueId: 3, isRequired: true})">
                            </div>
                            <p class="icon icon-click">
                                Réfléchissez à la question ci-dessous et répondez-y dans
                                l’espace
                                prévu à cet effet, si vous le souhaitez.
                            </p>
                            <div class="ta-component"
                                v-scope="textInputVal({question: `Nommez un geste que vous comptez poser pour mieux défendre les communautés 2ELGBTQI+ au travail.`, isRequired: true, uniqueId: 4,} )">
                            </div>

                        </div>
                    </div>
                    <!-- <div class="print-container">
                        <button class="print-answers" title="Print Answers"
                            data-toggle="tooltip">
                            <span class="wb-inv">Print Answers</span>
                        </button>
                    </div> -->
                </main>
                <!-- Fin du contenu -->
            </div>
        </div>
    </div>
    <!-- Bootstrap JavaScript: jQuery first, then Popper.js, then Bootstrap JS -->
    <script
        src="https://app.csps-efpc.gc.ca/shared/LCS_HTML_Templates/CSPS_Template_2021/_assets/thirdpartylib/jquery/jquery-3.4.1.min.js">
    </script>
    <script
        src="https://app.csps-efpc.gc.ca/shared/LCS_HTML_Templates/CSPS_Template_2021/_assets/thirdpartylib/popper-js/popper.min.js">
    </script>
    <script
        src="https://app.csps-efpc.gc.ca/shared/LCS_HTML_Templates/CSPS_Template_2021/_assets/thirdpartylib/bootstrap-4.3.1/js/bootstrap.min.js">
    </script>
    <!-- Template JavaScript -->
    <script
        src="https://app.csps-efpc.gc.ca/shared/LCS_HTML_Templates/CSPS_Template_2021/_assets/js/scripts.min.js">
    </script>

    <!-- inject:js -->
    <script src="assets/js/csps-app.js"></script>
    <!-- endinject -->
    <script src="assets/js/petite-checklist.js" type="module"></script>
    <!-- <script>
          let printBtn = document.querySelector('.print-answers');
          let printCont = document.querySelector('.print-container');
          printBtn.addEventListener('click', () => {
              window.print();
          })
      </script> -->

</body>

</html>